<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
.animation {
  width: 125px;
  height: 25px;
  background: red;
  position: relative;
  animation-name: mymove;
  animation-duration: 15s;
  animation-timing-function: linear;
}

@keyframes mymove {
  from {left: 0px;}
  to {left: 100%;}
}
</style>
</head>
<body>
<div class="animation">
<th:block th:each="tab:${username}">
Welcome&nbsp;<td th:text="${tab}"></td>
</th:block>
</div>
	<div align="center">
		<h1>Complain View</h1>
		<table border="1" cellpadding="5" cellspacing="5">
			<tr>
				<th>Email Id</th>
				<th>Complain Subject</th>
				<th>Complain Comments</th>
			</tr>
			<th:block th:each="tab:${complainData}">
				<tr>
					<td th:text="${tab.emailId}"></td>
					<td th:text="${tab.complainSubject}"></td>
					<td th:text="${tab.complainComments}"></td>
				</tr>
			</th:block>
		</table>
	</div>

	<hr>
	<div>
		<a href="/homePage">HOME</a>
	</div>

</body>
</html>